/.plastic
/.vscode
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/CarEndlessGame.sln
/ignore.conf
/Library
/Logs
/Packages
/Temp
/UserSettings
/Assets/BOXOPHOBIC
/Assets/LowPoly_Foliage
/Assets/BrokenVector
